@page

@using Microsoft.AspNetCore.Authentication

@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h3 class="mb-3">Reupload account</h3>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username"/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"/>
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-primary mb-3">Login</button>
                </div>
            </form>
        </section>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 class="mb-3">External account</h3>

            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (AuthenticationScheme? provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}